@model List<CategoryViewModel>

@{
     ViewData["Title"] = "Product Categories";
    Layout = "_LayoutAdmin";   
}

<div class="container">
    <section class="text-center">
        <h2>Categories</h2>
        <hr>
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên danh mục</th>
                        <th scope="col">Ảnh đại diện</th>
                        <th scope="col" >Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() <= 0) {
                        <tr>
                            <td colspan="3">
                                Danh sách rỗng 	&nbsp;	&nbsp;
                                <a asp-action="Create" class="btn btn-success">
                                    <i class="bi bi-plus-circle"></i>
                                    Tạo danh mục mới ?</a>
                            </td>
                        </tr>
                    }else {
                        @foreach(var item in Model) {
                            <tr>
                                <th style="line-height: 48px;" scope="row">@item.Id</th>
                                <td  style="line-height: 48px;">@item.Name</td>
                                <td >
                                    <img class="img-fluid" style="width: 48px;height: 48px;object-fit: cover;object-position: center;" src="@item.ThumbnailFilePath" alt="@item.SeoName">
                                </td>
                                <td  style="line-height: 48px;">
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" onclick="return handleDeleteAlert({deleteLink: `/Admin/ProductCategories/Delete?id=${@item.Id}`, redirectLink: `/Admin/ProductCategories`})">
                                        <i class="bi bi-x-circle"></i>
                                        Xóa
                                    </a>
                                    <a  asp-action="Edit"  asp-route-id="@item.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>
                                        Chỉnh sửa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>